<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="icon" href="/img/analyticsicon.png">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="main-content">
    {{>header}}
    <p>
        This site was created  by Harsh Gard. it uses weatherstack.com api to get the waeather forcast
    </p>
    <img class="portrait" src='/img/me.jpg'></img>
</div>
{{>footer}}
</body>
</html>